* {
	margin: 0;
}

.app {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
.app__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
}
.app__left {
	flex: 0.8;
}
.app__stats {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.infoBox {
	padding: 0.5rem;
}
@media (max-width: 990px) {
	.app {
		flex-direction: column;
	}
	.app__stats {
		flex-direction: column;
	}
}
